@page "/EditPost/{postId:int}"
@using Contracts.Services
@using Entities.Models
@using Forum_Blazor.Authentication
@using Microsoft.AspNetCore.Components
@using UIElements

@inject IPostService _postService
@inject IAuthService _authService
@inject NavigationManager _navMgr

<div class="box">
    <h3>Edit Post #@_editedPost.Id</h3>
    
    <EditForm Model="@_editedPost" OnValidSubmit="@EditSelectedPost">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        @if(!string.IsNullOrEmpty(_errorLabel))
        {
            <label>@_errorLabel</label>
        }
        
        <div class="form-group field">
            <span>
                <label>Header:</label>
            </span>
            <span>
                <InputText @bind-Value="_editedPost.Header"/>
            </span>
        </div>
        <div class="form-group field">
            <span>
                <InputTextArea style="width: 90%" rows="5" @bind-Value="_editedPost.Body"/>
            </span>
        </div>
        
        <p class="actions">
            <button type="submit" class="btn btn-primary btn-rounded">edit</button>
        </p>
    </EditForm>
    

    @if (_showModal)
    {
        <Modal>
            <p>Do you really wish to add a new Post?</p>
            <button @onclick="Submit" class="btn btn-success btn-rounded">submit</button>
            <button @onclick="Edit" class="btn btn-info btn-rounded">edit</button>
            <button @onclick="Cancel" class="btn btn-warning btn-rounded">cancel</button>
        </Modal>
    }
</div>

@code {
    [Parameter]
    public int PostId { get; set; }

    private Post _editedPost = new Post();
    private string _errorLabel = String.Empty;
    
    private bool _showModal;
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            _editedPost = await _postService.GetById(PostId);
        }
        catch (Exception e)
        {
            _errorLabel = e.Message;
        }
        
    }
    
    private void EditSelectedPost()
    {
        _errorLabel = "";
        try
        {
            _showModal = true;
        }
        catch (Exception e)
        {
            _errorLabel = e.Message;
        }
    }
    

    private async void Submit()
    {
        _editedPost.Author = _authService.GetLoggedUser()!;
        await _postService.UpdateAsync(_editedPost);
        
        _editedPost = new Post();
        _showModal = false;
        _navMgr.NavigateTo("/Posts");
    }

    private void Edit()
    {
        _showModal = false;
    }

    private void Cancel()
    {
        _editedPost = new Post();
        _showModal = false;
        _navMgr.NavigateTo("/Posts");
    }

}