@page "/"
@inject NavigationManager _navMgr


<PageTitle>BlueDit</PageTitle>

<h1>- Welcome to the 'BlueDit Forum' -</h1>
<br/>
<p>
    <span @onclick="ToLogin" style="cursor: pointer; color: #0a53be ">Log in</span> 
    to add posts or just go and check the posts in the 
    <span @onclick="ToPosts" style="cursor: pointer; color: #0a53be">'Posts' tab</span>.
</p>


@code
{

    private void ToLogin()
    {
        _navMgr.NavigateTo("/Login");
    }

    private void ToPosts()
    {
        _navMgr.NavigateTo("/Posts");
    }
}
