@namespace UIElements

<link href="wwwroot.css.Modals.css" rel="stylesheet">

<div class="modal-background" style="display:block; height: 100%">
    <div class="modal-box">
    
        @ChildContent
    
    </div>
</div>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}